<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-center">Enter player's names</h1>
      <form name="startGameForm" ng-submit="gameVm.startGame()" novalidate>

        <div class="form-group">
          <label for="player1Name">Player 1:</label>
          <input class="form-control" name="player1Name" placeholder="Player 1 name" 
            ng-model="gameVm.player1Name" 
            ng-minlength="3"
            required>
        </div>

        <div class="form-group">
          <label for="player2Name">Player 2:</label>
          <input class="form-control" name="player2Name" placeholder="Player 2 name" 
            ng-model="gameVm.player2Name"
            ng-minlength="3" 
            required>
        </div>

        <button type="submit" class="btn btn-default center-block" ng-disabled="startGameForm.$invalid">Start</button>

        <div class="help-block" ng-messages="startGameForm.player1Name.$error" ng-show="startGameForm.player1Name.$touched">
          <p ng-message="minlength">Player 1 name is too short.</p>
          <p ng-message="required">Player 1 name is required.</p>
        </div>

        <div class="help-block" ng-messages="startGameForm.player2Name.$error" ng-show="startGameForm.player2Name.$touched">
          <p ng-message="minlength">Player 2 name is too short.</p>
          <p ng-message="required">Player 2 name is required.</p>
        </div>

      </form>
    </div>
    <div class="col-md-4">
      <h1 class="text-center">Game stats</h1>
      <div class="col-md-12">
        <div class="col-md-4">Position</div>
        <div class="col-md-4">Player name</div>
        <div class="col-md-4">Win count</div>
      </div>
      <div class="row" ng-repeat="currentWinCount in gameVm.winListByWinCount">
        <div class="col-md-12 text-center">
          <div class="col-md-4">{{ $index + 1 }}</div>
          <div class="col-md-4">{{ currentWinCount.name }}</div>
          <div class="col-md-4">{{ currentWinCount.count }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
